#indice
{ border : 1px solid gray ;
  height : 3em;
  margin-top: 3px;  
} 
body {
	background-image:url(http://10.0.2.20/IMG/bgQuestionnaire.jpg);
	background-repeat : repeat-y; 
	background-attachment:fixed ;
	background-size: 100%;
}


.point{
	border:2px solid red;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
	 height : 2em; 
	 padding : 5px;
}

fieldset{
	border:2px solid navy;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
	margin-bottom : 10px;
	
}

button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor:pointer;
}

button:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button:disabled{
  background: #bdbdbd;
  background-image: -webkit-linear-gradient(top, #bdbdbd, #525252);
  background-image: -moz-linear-gradient(top, #bdbdbd, #525252);
  background-image: -ms-linear-gradient(top, #bdbdbd, #525252);
  background-image: -o-linear-gradient(top, #bdbdbd, #525252);
  background-image: linear-gradient(to bottom, #bdbdbd, #525252);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
